@using WebHelpers.Mvc5
<header class="main-content logo no-padding">
    <div class="row">
        <div class="col-xs-12">
            <a href="@Url.Action("Index", "Home")"><img class="logo-header" src="~/Content/img/logo_largo_blanco.png" alt="El Gato Mensajero" title="El Gato Mensajero" /></a>
        </div>
    </div>
</header>