@model ElGatoMensajero.Models.personas
@{
    ViewBag.Title = "Recuperar Contraseña";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}
<div class="login-box-body">
    <h3 class="login-box-msg">Recuperar contraseña</h3>

    @if (ViewBag.CustomError != null)
    {
        <div class="alert alert-danger">
            @ViewBag.CustomError
        </div>
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group has-feedback">
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
            <span class="fa fa-envelope form-control-feedback"></span>
        </div>

        <div class="row">
            <div class="col-xs-offset-7 col-xs-5">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Confirmar</button>
            </div>
        </div>
    }
    <a href="@Url.Action("Login", "Home")" class="text-center">Iniciar Sesión</a>
</div>



